.slogan{
    position: relative;
    .slogan_info{
        width: 100%;
        position: absolute;
        bottom: 7%;
        z-index: 2;
        background-color: rgba(204, 204, 204, 0.562);
        height: 200px;
    }
    .slogan_if_item p:nth-child(1){
        @include styleText($fs-3,$fw-normal,$color-white-0);
        margin-bottom: 0px;
    }
    .slogan_if_item p:nth-child(2){
        @include styleText($fs-4,$fw-normal,$color-white-0);
    }
}
.slogan_text{
    position: absolute;
    z-index: 1;
    top:35%;
    left: 50%;
    transform: translate(-49%,-50%);
    :nth-child(1){
        @include styleText($fs-5,$fw-bold-1,$color-white-0);
    }
    :nth-child(2){
        @include styleText($fs-3,$fw-normal,$color-white-0);
    }
}
.slogan video{
    width: 100%;
}
