.before__footer{
    width: 93%;
    margin: 0 auto;
    // padding-top: 30px;
}
.fiver__guides{
    padding-bottom: 90px;
    .title{
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        a{
            text-decoration: none;
        }
    }
    .item{
        padding: 0 15px;
        a{
            text-decoration: none;
            img{
                width: 100%;
            }
            h5{
                padding-top: 15px;
                margin-bottom: $mg-0;
                font-size: 1.08rem;
                color: black;
                font-weight: $fw-bold;
            }
            p{
                color: $color-gray-4;
                font-size: 1.02rem;
            }
        }           
    }
}
    