header {
    padding: $pd-1;
    @include styleText($fs-0, $color-white-0, $fw-bold);
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    .navbar-brand {
        img {
            width: 89px;
            height: 27px;
        }
        a {
            text-decoration: none;
        }
    }

    .btn-header {
        // border: 1px solid white;
        padding: 5px 20px;
        color: white;
        margin-top: 3px;
        transition: all 0.1s;

        border: 1px solid white;
        // background-color: #1dbf73;
        p {
            margin: 0;
        }
        &:hover {
            color: white;
            text-decoration: none;
            border: 1px solid #1dbf73;
            background-color: #1dbf73;
        }
    }
}
#nav-show {
    background-color: #fff;
    position: fixed;
    top: -150px;
    width: 100%;
    display: block;
    // transition: top 0.3s;
    z-index: 10;
    padding-bottom: 0;
    // transition: top 0.1s;
    transition: opacity 1s;
    .navbar-brand {
        img {
            width: 89px;
            height: 27px;
        }
    }
    .form-control {
        border-radius: 5px 0 0 5px;
    }
    .navbar-collapse {
        flex-grow: 2;
    }
    form {
        flex-grow: 2;
    }
    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 17px;
        &:hover {
            background-color: #ddd;
            color: black;
        }
    }
    .click{
        flex-grow: 1;
        &:hover{
            background-color: #fff;
        }
    }
  
    .icon-serach {
        border: 1px solid #ced4da;
        border-right: none;
        svg {
            margin-top: 10px;
        }
    }
    .form-control {
        border-left: none;
        border-radius: 0;
    }
    .btn-carousel {
        border-radius: 0 5px 5px 0;
        color: white;
        background-color: #28a745;
    }
    #navbarNavAltSubmenu {
        // background-color:white ;
        a {
            b,
            i {
                color: $color-gray-4;
            }
        }
        .btn-header {
            border: 1px solid #28a745;
            height: 30px;
            width: 65px;
            margin-top: 13px;
            padding: 0;
            b {
                color: #28a745;
            }
        }
    }

    .subofsubmenu {
        transform: rotateX(-180deg);
        // transition: 0.5s;
        width: 100%;
        ul {
            justify-content: space-around;
            margin: 0;
            padding-left: 25px;
            li {
                list-style: none;
                justify-content: space-around;
                a {
                    color: $color-gray-4;
                    padding-bottom: 0;
                    padding-top: 2px;
                }
                // &:hover{
                //     transform: rotateX(180deg);
                //     transition: 0.5s;
                // }
            }
        }
    }
}
.border-menu{
    width: 100%;
    border-top: 1px solid $color-gray-2 ;
}
@include responsive("large") {
    .header__responsive__large {
        display: none;
    }
}

@include responsive("medium") {
    .carousel {
        .carousel__content {
            width: 50%;
        }
    }
}
