* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 45%;
  left: -2%;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50% !important;
  background-color: #fff !important;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
}

.owl-prev span, .owl-next span {
  font-size: 40px;
  color: #404145;
  font-weight: normal;
  line-height: .7;
}

.owl-prev:focus, .owl-next:focus {
  outline: none;
}

.owl-next {
  left: unset;
  right: -2%;
}

.alliance {
  padding: 15px;
  background-color: #F7F8FA;
}

.alliance .alliance__content .alliance__logo {
  display: inline-flex;
  align-content: center;
  max-width: 1400px;
  margin: auto;
}

.alliance .alliance__content .alliance__logo img {
  height: 60px;
  margin-left: 50px;
  margin-left: 50px;
}

.alliance .alliance__content .alliance__logo p {
  color: #a1a7b3;
  padding-top: 17px;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .alliance .alliance__content .alliance__logo p {
    display: none;
  }
}

.carousel {
  position: relative;
}

.carousel .carousel__content {
  position: absolute;
  top: 30%;
  left: 3%;
  z-index: 1;
  width: 48%;
}

.carousel .carousel__content h1 {
  font-size: 46px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 24px;
}

.carousel .carousel__content .carousel__form {
  padding: 0 0 24px;
}

.carousel .carousel__content .carousel__form input .form-control {
  padding: 10px !important;
  border-radius: 4px 0 0 4px !important;
}

.carousel .carousel__content input {
  border-radius: 5px 0 0 5px;
}

.carousel .carousel__content .btn-carousel {
  background-color: #1dbf73;
  color: white;
  border-radius: 0;
}

.carousel .carousel__content .carousel__popular {
  display: flex;
}

.carousel .carousel__content .carousel__popular span {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.carousel .carousel__content .carousel__popular ul {
  display: flex;
}

.carousel .carousel__content .carousel__popular ul li {
  list-style-type: none;
  margin: 1px 10px 0;
  padding: 0 7px 0;
  border: 1px solid #fff;
  border-radius: 40%;
  background-color: transparent;
  line-height: px;
  border-radius: 40px;
  text-align: center;
  transition: all 0.5s;
}

.carousel .carousel__content .carousel__popular ul li a {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

.carousel .carousel__content .carousel__popular ul li:hover {
  background-color: white;
}

.carousel .carousel__content .carousel__popular ul li:hover a {
  color: black;
}

@media screen and (max-width: 1200px) {
  .carousel .carousel__content {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .carousel .carousel__content {
    width: 60%;
  }
}

header {
  padding: 10px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

header .navbar-brand img {
  width: 89px;
  height: 27px;
}

header .navbar-brand a {
  text-decoration: none;
}

header .btn-header {
  padding: 5px 20px;
  color: white;
  margin-top: 3px;
  transition: all 0.1s;
  border: 1px solid white;
}

header .btn-header p {
  margin: 0;
}

header .btn-header:hover {
  color: white;
  text-decoration: none;
  border: 1px solid #1dbf73;
  background-color: #1dbf73;
}

#nav-show {
  background-color: #fff;
  position: fixed;
  top: -150px;
  width: 100%;
  display: block;
  z-index: 10;
  padding-bottom: 0;
  transition: opacity 1s;
}

#nav-show .navbar-brand img {
  width: 89px;
  height: 27px;
}

#nav-show .form-control {
  border-radius: 5px 0 0 5px;
}

#nav-show .navbar-collapse {
  flex-grow: 2;
}

#nav-show form {
  flex-grow: 2;
}

#nav-show a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#nav-show a:hover {
  background-color: #ddd;
  color: black;
}

#nav-show .click {
  flex-grow: 1;
}

#nav-show .click:hover {
  background-color: #fff;
}

#nav-show .icon-serach {
  border: 1px solid #ced4da;
  border-right: none;
}

#nav-show .icon-serach svg {
  margin-top: 10px;
}

#nav-show .form-control {
  border-left: none;
  border-radius: 0;
}

#nav-show .btn-carousel {
  border-radius: 0 5px 5px 0;
  color: white;
  background-color: #28a745;
}

#nav-show #navbarNavAltSubmenu a b,
#nav-show #navbarNavAltSubmenu a i {
  color: #686f7a;
}

#nav-show #navbarNavAltSubmenu .btn-header {
  border: 1px solid #28a745;
  height: 30px;
  width: 65px;
  margin-top: 13px;
  padding: 0;
}

#nav-show #navbarNavAltSubmenu .btn-header b {
  color: #28a745;
}

#nav-show .subofsubmenu {
  transform: rotateX(-180deg);
  width: 100%;
}

#nav-show .subofsubmenu ul {
  justify-content: space-around;
  margin: 0;
  padding-left: 25px;
}

#nav-show .subofsubmenu ul li {
  list-style: none;
  justify-content: space-around;
}

#nav-show .subofsubmenu ul li a {
  color: #686f7a;
  padding-bottom: 0;
  padding-top: 2px;
}

.border-menu {
  width: 100%;
  border-top: 1px solid #a1a7b3;
}

@media screen and (max-width: 992px) {
  .header__responsive__large {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .carousel .carousel__content {
    width: 50%;
  }
}

.subcate__content {
  width: 93%;
  margin: 0 auto;
  padding: 90px 0;
}

.maincate h2 {
  font-size: 32px;
  color: #404145;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 24px;
  padding-bottom: 40px;
}

.maincate li {
  list-style-type: none;
  text-align: center;
  padding: 0px 10px 55px;
}

.maincate li a {
  text-decoration: none;
  font-size: 16px;
  color: #404145;
}

.maincate li a img {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
}

.maincate li a img::after {
  background-color: #686f7a;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 25%;
}

.maincate a .border__hover {
  border-bottom: 2px solid #a1a7b3;
}

.maincate a:hover img {
  width: 90px;
}

.maincate a:hover .border__hover {
  border-bottom: 2px solid #1dbf73;
}

.subcate h2 {
  font-size: 32px;
  color: #404145;
  font-weight: bold;
}

.subcate .subcate__descript {
  position: relative;
  text-align: center;
}

.subcate .subcate__descript img {
  object-fit: cover;
  height: 345px;
  width: 100%;
  border-radius: 4px;
  margin-right: 32px;
  position: relative;
  transition: opacity .3s ease-in-out;
}

.subcate .subcate__descript h4 {
  text-align: left;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 8%;
  left: 37%;
  transform: translate(-50%, -20%);
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.subcate .subcate__descript h4 small {
  font-size: 13px;
  color: #fff;
  font-weight: normal;
}

.wrapper__content {
  width: 93%;
  margin: 0 auto;
  padding: 90px 0;
}

.wrapper {
  background-color: #f1fdf7;
}

.wrapper .wrapper__benefits {
  padding: 0px 135.438px 0px 0px;
}

.wrapper .wrapper__benefits h2 {
  font-size: 34px;
  color: #404145;
  font-weight: bold;
  line-height: 120%;
  padding-bottom: 20px;
}

.wrapper .wrapper__benefits li {
  list-style-type: none;
}

.wrapper .wrapper__benefits li h6 {
  font-size: 20px;
  color: #404145;
  font-weight: bold;
}

.wrapper .wrapper__benefits li h6 i {
  font-size: 24px;
  color: #686f7a;
  font-weight: bold;
}

.wrapper .wrapper__benefits li p {
  font-size: 20px;
  color: #686f7a;
  font-weight: normal;
}

.wrapper .wrapper__video {
  position: relative;
}

.wrapper .wrapper__video img {
  width: 100%;
  height: 400.25px;
}

.wrapper .wrapper__video i {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerBusiness {
  background-color: #0d084d;
}

.bannerBusiness__content {
  width: 93%;
  margin: 0 auto;
  padding: 70px 0;
}

.bannerBusiness__content .left {
  color: white;
}

.bannerBusiness__content .left .logo {
  padding-bottom: 40px;
}

.bannerBusiness__content .left .logo span {
  background-color: #584aff;
  border-color: #584aff;
  border-radius: 10px;
  width: 50px;
  margin-top: 7px;
}

.bannerBusiness__content .left .logo span p {
  padding-left: 10px;
  font-size: 0.8rem;
}

.bannerBusiness__content .left .text__otherfont {
  font-family: "Mukta", sans-serif;
  max-width: 415px;
  font-size: 33px;
  line-height: 35px;
  padding-bottom: 20px;
}

.bannerBusiness__content .left .text {
  max-width: 415px;
}

.bannerBusiness__content .left ul {
  list-style: none;
  margin-left: 17px;
}

.bannerBusiness__content .left ul li {
  padding: 5px 0;
}

.bannerBusiness__content .left ul li span {
  display: inline-block;
}

.bannerBusiness__content .left ul li span p {
  margin: 0;
}

.bannerBusiness__content .left ul li .icon__checkedfiver {
  fill: #7a7d85;
  margin-right: 10px;
}

.bannerBusiness__content .left ul li .text__checked {
  width: 80%;
  height: 50px;
}

.bannerBusiness__content .left button {
  color: white;
  background-color: #1dbf73;
  border-color: #1dbf73;
  border-radius: 5px;
  padding: 10px 15px;
}

.bannerBusiness__content .right img {
  width: 100%;
}

.videoFeedback {
  width: 93%;
  margin: 0 auto;
  padding: 70px 0;
}

.videoFeedback__content .left i {
  position: absolute;
  top: 38%;
  left: 44%;
  width: 60px;
  height: 60px;
  padding: 22px 20px 20px 24px;
  border-radius: 50% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  z-index: 3;
  color: white;
}

.videoFeedback__content .right .text {
  padding: 20px 45px;
}

.videoFeedback__content .right .text h5 {
  margin-top: 5px;
}

.videoFeedback__content .right .text__info {
  border-left: 1px solid #c5c6c9;
  margin-left: 16px;
}

.videoFeedback__content .right .text__info img {
  width: 153px;
  height: 36px;
  margin-left: 12px;
}

.videoFeedback__content .right p {
  font-size: 30px;
  line-height: 44px;
  color: #003912;
}

.videoFeedback__content .right p i {
  font-family: "Mukta", sans-serif;
}

.videoFeedback__content .owl-carousel .owl-prev,
.videoFeedback__content .owl-carousel .owl-next,
.videoFeedback__content .owl-carousel-feedback .owl-prev,
.videoFeedback__content .owl-carousel-feedback .owl-next {
  position: absolute;
  top: 38%;
  left: -1%;
  width: 45px;
  height: 45px;
  padding: 2px;
  border-radius: 50% !important;
  background-color: #fff !important;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  z-index: 3;
}

.videoFeedback__content .owl-carousel .owl-prev span,
.videoFeedback__content .owl-carousel .owl-next span,
.videoFeedback__content .owl-carousel-feedback .owl-prev span,
.videoFeedback__content .owl-carousel-feedback .owl-next span {
  font-size: 40px;
  color: #007791;
  font-weight: normal;
  line-height: 25px;
}

.videoFeedback__content .owl-carousel .owl-prev:focus,
.videoFeedback__content .owl-carousel .owl-next:focus,
.videoFeedback__content .owl-carousel-feedback .owl-prev:focus,
.videoFeedback__content .owl-carousel-feedback .owl-next:focus {
  outline: none;
}

.videoFeedback__content .owl-carousel .owl-next,
.videoFeedback__content .owl-carousel-feedback .owl-next {
  left: unset;
  right: -1%;
}

.videoFeedback__content .owl-item {
  margin: 0;
}

.getInspired {
  background-color: #F7F8FA;
}

.getInspired__content {
  width: 93%;
  margin: 0 auto;
  padding: 90px 0;
}

.getInspired__content .title {
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.getInspired__content .title h2 {
  font-weight: bold;
}

.getInspired__content .getInspired__item .owl-carousel .owl-prev,
.getInspired__content .getInspired__item .owl-carousel .owl-next {
  position: absolute;
  top: 33%;
  left: -1%;
  width: 45px;
  height: 45px;
  padding: 2;
  border-radius: 50% !important;
  background-color: #fff !important;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  z-index: 3;
}

.getInspired__content .getInspired__item .owl-carousel .owl-prev span,
.getInspired__content .getInspired__item .owl-carousel .owl-next span {
  font-size: 40px;
  color: #007791;
  font-weight: normal;
  line-height: 25px;
}

.getInspired__content .getInspired__item .owl-carousel .owl-prev:focus,
.getInspired__content .getInspired__item .owl-carousel .owl-next:focus {
  outline: none;
}

.getInspired__content .getInspired__item .owl-carousel .owl-next {
  left: unset;
  right: -1%;
}

.getInspired__content .getInspired__item .owl-item {
  padding: 0px 8px 8px 8px;
  margin: 0;
}

.getInspired__content .getInspired__item .owl-item img {
  width: 100%;
  height: 225px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #a1a7b3;
}

.getInspired__content .getInspired__item .owl-item .info {
  padding: 16px 0 16px 12px;
  margin: 0;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 8px #a1a7b3;
}

.getInspired__content .getInspired__item .owl-item .info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.getInspired__content .getInspired__item .owl-item .info b a {
  text-decoration: none;
}

.getInspired__content .getInspired__item .owl-item .info .text {
  line-height: 18px;
}

.getInspired__content .getInspired__item .owl-item .info .text b a {
  font-size: 14px;
  width: 100%;
}

.getInspired__content .getInspired__item .owl-item .info .text .brand {
  color: black;
}

.getInspired__content .getInspired__item .owl-item .info .text .brand__by {
  color: #a1a7b3;
}

.before__footer {
  width: 93%;
  margin: 0 auto;
}

.fiver__guides {
  padding-bottom: 90px;
}

.fiver__guides .title {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.fiver__guides .title a {
  text-decoration: none;
}

.fiver__guides .item {
  padding: 0 15px;
}

.fiver__guides .item a {
  text-decoration: none;
}

.fiver__guides .item a img {
  width: 100%;
}

.fiver__guides .item a h5 {
  padding-top: 15px;
  margin-bottom: 2px;
  font-size: 1.08rem;
  color: black;
  font-weight: bold;
}

.fiver__guides .item a p {
  color: #686f7a;
  font-size: 1.02rem;
}

.getbusiness {
  padding-bottom: 100px;
}

.getbusiness__content .banner {
  position: relative;
}

.getbusiness__content .banner img {
  width: 100%;
  background-size: cover;
}

.getbusiness__content .banner .bannertext {
  position: absolute;
  color: white;
  top: 100px;
  left: 100px;
}

.getbusiness__content .banner .bannertext h2 {
  width: 54%;
  font-size: 48px;
}

.getbusiness__content .banner .bannertext button {
  padding: 8px 20px;
  margin-top: 30px;
  font-weight: bold;
  background-color: #1dbf73;
  border: none;
  border-radius: 5px;
}

.getbusiness__content .banner .bannertext button:hover {
  background-color: #19a463;
  transition: all 0.5s;
}

.getbusiness__content .banner .bannertext button a {
  color: white;
  text-decoration: none;
}

footer {
  border-top: 1px solid #dedfe0;
}

footer .footer__content {
  width: 93%;
  margin: 0 auto;
  padding-top: 3.5rem;
}

footer .footer__content .footer__top {
  border-bottom: 1px solid #dedfe0;
}

footer .footer__content .footer__top h6 {
  font-weight: 700;
  padding-left: 6px;
}

footer .footer__content .footer__top ul {
  list-style: none;
  padding-left: 0;
}

footer .footer__content .footer__top ul li {
  text-decoration: none;
  padding: 7px;
}

footer .footer__content .footer__top ul li a {
  color: #686f7a;
}

footer .footer__content .footer__bottom {
  justify-content: space-between;
  margin: 0;
}

footer .footer__content .footer__bottom .left {
  padding-top: 10px;
}

footer .footer__content .footer__bottom .left h5 {
  font-weight: 700;
  color: #686f7a;
  margin-bottom: 0;
}

footer .footer__content .footer__bottom .left p {
  margin: 2px 0 0 0;
  padding-left: 10px;
  color: #a1a7b3;
}

footer .footer__content .footer__bottom .right ul {
  list-style: none;
}

footer .footer__content .footer__bottom .right ul li {
  display: inline-block;
}

footer .footer__content .footer__bottom .right ul li a {
  text-decoration: none;
  color: #686f7a;
  padding: 10px;
  font-size: 20px;
}

footer .footer__content .footer__bottom .right ul li .footer__modal .list-group a {
  border: none;
  padding: 12px 20px;
}

footer .footer__content .footer__bottom .right ul li .footer__modal .list-group a:hover {
  background-color: #a1a7b3;
  color: #686f7a;
}

footer .footer__content .footer__bottom .right ul li .footer__modal .list-group .active {
  margin-left: -20px;
}

footer .footer__content .footer__bottom .right ul li .enable__scroll {
  height: 400px;
  overflow-y: auto;
}

footer .footer__content .footer__bottom .male__border {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px;
  border: 1px solid #686f7a;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */