@mixin styleText($fs, $color, $fw) {
    font-size: $fs;
    color: $color;
    font-weight: $fw;
}

@mixin styleButton($bg-color, $border, $py, $px) {
    background-color: $bg-color;
    border: 1px solid $border;
    padding: $py $px;
    border-radius: $border-radius;
}

@mixin styleHoverButton($bg-hover, $border-hover, $color) {
    background-color: $bg-hover;
    border-color: $border-hover;
    color: $color;
}
@mixin responsive($screen) {
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        // Nếu tìm thấy màn hình
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "Màn hình không tổn tại!";
    }
}
