*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html,body{
    
    position: relative;
    font-family: 'Open Sans', sans-serif;
    @include styleText($fs-0,$fw-bold-0,$color-black-dark);
}